.logo {
	background-color: #d5d5f4;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-left: 65%;
	margin-top: 5%;	
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1;
    -o-transition-duration: 1s;
    transition-duration: 1s; 
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
}

.logo:hover  
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.redes {
	margin-left: 68%;
	margin-top: 10px;
	height: 31px;
}

body{
  background: url(images/dente-de-leao.jpg) no-repeat center center fixed;
  background-size: cover; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
}

h1{
	font-size: 32px;
	text-align: center;
	padding-top: 30%;
	width: 100%;
	padding-top: 33%;
}

ul {
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 0;
	width: 69px;
	padding-left: 30px;

}

li {
	display: inline;
}
