body{
	margin: 0;
}

ul{
	margin: -8px 0 -8px 0;
	padding: 15px 0 10px 0;
	background-color: #C0AECA;
}
li{
	margin-right: 20px;
	color: #7e349d
}

.menu {
	text-align: center;
	font-size: 24px;
}
.menu ul li {
	list-style:none;
	display: inline;
}
.menu ul li a {
	text-decoration: none;
}

header {
	text-align: center;
	background-image: 
}