body{
	background: url(images/dente-de-leao.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	border-top: 3px solid #68D668;
	margin: 0px;
}

h1{
	text-align: center;
	padding-top: 10%;
	width: 100%;
	font-family: "Belleza", "cursive";
	font-size: 49px;
	width: 210px;
	color: #FFF;
	text-shadow: black 0.1em 0.1em 0.2em;
}

ul {
	list-style-type: none;
	width: 69px;
	padding-left: 30px;
}

li {
	display: inline;
}

@-webkit-keyframes balanco {
	0% {-webkit-transform: rotate(0deg); }
	25% {-webkit-transform: rotate(40deg); }
	50% {-webkit-transform: rotate(-30deg); }
	75% {-webkit-transform: rotate(40deg); }
	100% {-webkit-transform: rotate(0deg); }
}

.container {
	width: 700px;
	position: absolute;
	top: 17%;
	left: 50%;
	margin-left: -350px;
	margin-top: 60px;
}

.logo {
	background-color: rgba(255, 19, 21, 0.5);
	width: 220px;
	height: 220px;
	border-radius: 50%;
	transition-duration: 1.5s;
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	float: right;
}

.logo:hover {
	-webkit-animation: balanco 2s alternate linear;
	-moz-animation: balanco 2s alternate linear;
	-o--animation: balanco 2s alternate linear;
}

.redes {
	float: right;
	width: 0px;
	height: 0px;
	margin-right: -6%;
	margin-top: 31%;
}

.sobre {
	background-color: rgba(236, 207, 239, 0.5);
	text-align: center;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	font-family: "cursive";
	font-size: 18px;
	width: 56%;
	margin-left: 5%;
	margin-top: 3%;
}